@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-bottom: 0.5px solid #313131;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 0.1rem;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  color: white;
  margin-top: 0.4rem;
  padding-left: 20px;
  border: none;
  outline: none;
  box-shadow: none;
}

.title:hover {
  color: #b1b1b1;
}

/* Center the navbar links */
.navbar-links {
  display: flex;
  justify-content: center;
  flex: 1; /* Allow the navbar links to take available space */
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #b1b1b1;
  text-decoration: underline;
}

.logout-btn {
  background-color: transparent; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove extra padding */
  margin-right: 1.5rem; /* Remove extra margins */
  cursor: pointer; /* Add pointer cursor */
  font-size: 1.5rem; /* Adjust icon size */
  color: white; /* Set the desired color */
}

.logout-btn:hover {
  color: #b1b1b1; /* Add hover effect */
}

.logout-btn i {
  display: inline-block;
  line-height: 0; /* Remove extra spacing inside the button */
}
