@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(8, 8, 8);
  text-decoration: none;
}

.navbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 0.1rem;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  color: white;
  margin-top: 0.4rem;
  margin-left: 2rem;
  border: none;
  outline: none;
  box-shadow: none;
}

/* <h1 className="text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-yellow-400 fs-big custom-font">
          real.
        </h1> */

.title:hover {
  background: linear-gradient(
    to right,
    #22c55e,
    #facc15
  ); /* from-green-500 to-yellow-400 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
}

/* Center the navbar links */
.navbar-links {
  display: flex;
  justify-content: center;
  flex: 1; /* Allow the navbar links to take available space */
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #b1b1b1;
  text-decoration: underline;
}

.logout-btn {
  background-color: transparent; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove extra padding */
  margin-right: 1.5rem; /* Remove extra margins */
  cursor: pointer; /* Add pointer cursor */
  font-size: 1.5rem; /* Adjust icon size */
  color: white; /* Set the desired color */
}

.logout-btn:hover {
  color: #b1b1b1; /* Add hover effect */
}

.logout-btn i {
  display: inline-block;
  line-height: 0; /* Remove extra spacing inside the button */
}
