@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

.custom-font {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

.custom-font-normal {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1rem;
}

.custom-font-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
}

.fs-big {
  font-size: 5rem;
}

.habit-min-height-all-habits {
  min-height: 80px;
}

.habit-min-height-todo {
  min-height: 80px;
}

.habit-list {
  min-height: 75vh;
  max-height: 75vh; /* Adjust as needed */
  overflow-y: scroll;
  overflow-x: hidden;
}
