@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

.sans-800 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.sans-600 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.sans-400 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.sans-200 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.fs-big {
  font-size: 5rem;
}

.habit-min-height-all-habits {
  min-height: 80px;
}

.habit-min-height-todo {
  min-height: 80px;
}

.habit-list {
  min-height: 75vh;
  max-height: 75vh; /* Adjust as needed */
  overflow-y: scroll;
  overflow-x: hidden;
}
