body,
html {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 400px; /* Set max-width to control the card size */
  background-color: #fff; /* Background color of the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 10px; /* Rounded corners */
}

h2 {
  font-family: "IBM Plex Mono", monospace; /* Using your preferred font */
  color: #333;
}

label {
  font-family: "IBM Plex Mono", monospace;
}

.btn-primary {
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(24, 24, 24); /* Custom button color */
  border-color: rgb(24, 24, 24);
}

.btn-primary:hover {
  font-family: "IBM Plex Mono", monospace;
  background-color: #333;
  border-color: #333;
}
